{% extends 'base.html' %}

{% block page_title %}
Review Page
{% endblock %}

{% block content %}
{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/view_reviews.css' %}">
</head>

<body>
  <div class="container">
    <h1>Reviews for {{ aircraft.model }}</h1>
    {% for review in reviews %}
<div class="review-card">
  <h3>Review by {{ review.user.username }}</h3>
  <div class="rating">
    {% for star in "*****"|make_list %}
    {% if forloop.counter <= review.rating %}
    <span class="star selected">&#9733;</span>
    {% else %}
    <span class="star">&#9733;</span>
    {% endif %}
    {% endfor %}
  </div>
  <p class="comment">{{ review.comment }}</p>
  {% if user == review.user %}
    <form action="{% url 'delete_review' review.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="delete-btn">Delete Review</button>
    </form>
  {% endif %}
</div>
{% endfor %}

  </div>
</body>
{% endblock %}
